body {
    text-align: center;
    background-color: rgb(255, 250, 240);
    padding-left: 60px;
    padding-right: 60px;
}

img {
    height: 200px;
    width: 400px;
}

ul {
    list-style: none;
}

#work {
    width: 800px;
}

#edu {
    width: 800px;
}

h3 {
    font-style: italic;
}